body {
	background-color: #6CB5FF;
}

.top-nav {
	padding-left: 20px !important;
	padding-right: 20px !important;
}

.page-section {
	padding-top: 50px;
}

.navbar-brand b {
	color: #ffffff;
	font-family: 'Pacifico', cursive;
	font-weight: 400;
}

#profile {
    background-image: url('../img/profile.jpg');
    background-size: cover;
}
